{% extends "base.html" %}

{% block title %}
خانه | مدیریت حساب
{% endblock title %}

{% block content %}

<section id="page-content" class="background-light">
    <div class="container">

        <div class="grid-layout grid-3-columns" data-item="grid-item" data-margin="10">
            <div class="grid-item">
                <div class="widget widget-notification p-cb">
                    <h4 class="mb-0">اعلان ها</h4>
                    <p class="text-muted">شما 4 اعلان جدید دارید</p>
                    <div class="notification-item notification-new">
                        <div class="notification-meta">
                            <a href="#">سفارش جدید به تازگی ثبت شده است</a>
                            <span>18:20</span>
                        </div>
                    </div>
                    <div class="notification-item notification-new">
                        <div class="notification-image"> <a href="#"><img src="images/shop/products/11.jpg"></a>
                        </div>
                        <div class="notification-meta">
                            <a href="#">حساب جدید ایجاد می شود</a>
                            <span>22:03</span>
                        </div>
                    </div>
                    <div class="notification-item">
                        <div class="notification-image"> <a href="#"><img src="images/shop/products/10.jpg"></a>
                        </div>
                        <div class="notification-meta">
                            <a href="#">پشتیبان گیری سرور با موفقیت به پایان رسید</a>
                            <span>14:12</span>
                        </div>
                    </div>
                    <div class="notification-item">
                        <div class="notification-image"> <a href="#"><img src="images/shop/products/11.jpg"></a>
                        </div>
                        <div class="notification-meta">
                            <a href="#">فایل سند وارد نشد</a>
                            <span>11:03</span>
                        </div>
                    </div>
                    <hr>
                    <a href="#" class="text-theme">مشاهده همه اعلان ها</a>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock content %}