{% extends "base-c.html" %}
{% load jalali_tags %}
{% load static %}

{% block title %}
صفحه اصلی | مدیریت حساب
{% endblock title %}

{% block content %}

<section id="page-content" class="background-light" data-bg-image="{% static 'images/p1.jpg' %}" style="min-height:700px">
    <div class="container">
        {% for mes in mes %}
                        {% if forloop.last %}
        <div class="alert alert-danger alert-dismissible fade show font-weight-bold" role="alert">
            شما <b>{{ forloop.counter }}</b> پیغام خوانده نشده دارید!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        {% endif %}
                    {% endfor %}

        <div class="grid-layout grid-1-columns" data-item="grid-item" data-margin="10">
            <div class="grid-item">
                <div class="widget widget-notification p-cb">
                    <h4 class="mb-0">حساب ها</h4>
                    {% for customer in customer %}
                        {% if forloop.last %}
                            <p>شما {{ forloop.counter }} حساب ایجاد شده دارید</p>
                        {% endif %}
                    {% endfor %}
                    {% if customer %}
                    <div class="row mt-5">
                        {% for customer in customer%}
                        <div class="col-lg-6">
                            <ul class="list-icon list-icon-caret list-icon-colored">
                                <li class="text-info"><b>نام تجاری:</b> {{ customer.company }}</li>
                            {% if customer.state == "legal"%}
                                {% if customer.ceoname %}
                                    <li><b>نوع حساب:</b> {{ customer.get_state_display }}</li>
                                    <li><b>نام مدیرعامل:</b> {{ customer.ceoname }}</li>
                                    <li><b>شناسه ملی:</b> {{ customer.ncode }}</li>
                                    <li><b>شماره موبایل:</b> {{ customer.mobile }}</li>
                                {% endif %}
                            {% else %}
                                <li><b>نوع حساب:</b> {{ customer.get_state_display }}</li>
                                <li><b>نام و نشان:</b> {{ customer.firstname }} {{ customer.lastname }}</li>
                                <li><b>کد ملی:</b> {{ customer.code }}</li>
                                <li><b>شماره موبایل:</b> {{ customer.mobile }}</li>
                            {% endif %}
                        </ul>

                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="col-lg-6">
                            <h5><a href="{% url 'crm:customer-add' %}" class="text-info" >شما حساب فعال ندارید لطفاً حساب جدید ایجاد کنید >></a></h5>
                        </div>
                    </div>
                    {% endif %}

                    <hr>
                    <a href="{% url 'crm:customer-list' %}" class="text-theme">مشاهده حساب ها</a>
                </div>
            </div>
        </div>
        <div class="grid-layout grid-2-columns" data-item="grid-item" data-margin="10">
            <div class="grid-item">
                <div class="widget widget-notification p-cb">
                    <h4 class="mb-0">پیغام‌ ها</h4>
                    {% for mes in mes %}
                        {% if forloop.last %}
                            <p class="text-danger">شما {{ forloop.counter }} پیغام جدید دارید</p>
                        {% endif %}
                    {% endfor %}
                    {% if mes %}
                    {% for mes in mes %}
                    {% if forloop.counter < 5 %}
                        <div class="notification-item notification-new">
                            <div class="notification-meta">
                                <a href="#">{{ mes.text|safe|truncatewords:8 }}</a>
                                <span>{{ mes.created_date|to_jalali:'%Y/%m/%d' }}</span>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <div>
                        <p>شما پیغام جدید ندارید.</p>
                    </div>
                    {% endif %}

                    <hr>
                    <a href="{% url 'crm:messages' %}" class="text-theme">مشاهده همه پیغام ها</a>
                </div>
            </div>
            <div class="grid-item">

                <div class="widget widget-archive p-cb">
                    <h4 class="mb-0">فاکتورها</h4>
                    {% if invoices %}
                    {% for invoice in invoices %}
                        {% if forloop.last %}
                        <p class="text-danger">شما {{ forloop.counter }} فاکتور پرداخت نشده دارید</p>
                        {% endif %}
                    {% endfor %}
                    <ul class="list list-lines">
                        {% for invoice in invoices %}
                        {% if forloop.counter < 3 %}
                        <li>{{ forloop.counter }} - نمایشگاه {{ invoice.exhibition.title }} به مبلغ {{ invoice.total_price }} ریال<a class="btn btn-xs" style="float:left">پرداخت</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% else %}
                        <p class="">شما فاکتوری برای پرداخت ندارید.</p>
                    {% endif %}
                    <hr>
                    <a href="{% url 'crm:invoice-list' %}" class="text-theme">مشاهده همه فاکتورها</a>
                </div>

            </div>
        </div>

    </div>
</section>
{% endblock content %}