{% extends "base-c.html" %}
{% load jalali_tags %}
{% load static %}
{% load humanize %}

{% block title %}
فاکتورها
{% endblock title %}

{% block content %}
<section id="page-content" class="background-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h2>فاکتورهای من</h2>
                        <p>مشارکت کننده گرامی در صورت تسویه حساب، فاکتور نهایی برای شما صادر خواهد شد.</p>
                    </div>
                </div>
            </div>
            {% if invoices %}
            <div class="col-lg-12">
                {% for invoice in invoices %}
                <div class="card">
                    <div class="card-body">
                        <h4><b>شماره:</b> {{ invoice.pk }}</h4>
                        <h5><b>نام تجاری:</b> {{ invoice.customer.company }} <span class="float-right"><b>تاریخ:</b> {{ invoice.created_date|to_jalali:"%Y/%m/%d" }}</span></h5>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>عنوان نمایشگاه</th>
                                    <th>متراژ(متر مربع)</th>
                                    <th>قیمت هرمترمربع (ریال)</th>
                                    <th>ارزش افزوده (درصد)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in invoice.invoiceitemmodel_set.all %}
                                <tr>
                                    <td>{{ item.exhibition.title }}</td>
                                    <td>{{ item.area }}</td>
                                    <td>{{ item.price|intcomma:False }}</td>
                                    <td>{{ item.value_added }} درصد</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="3"></td>
                                    <td><b>کل:</b> {{ invoice.amount|intcomma:False }}</td>
                                </tr>
                            </tbody>
                        </table>
                        {% if invoice.state == "paid" %}
                        <p class="text-success"><b>توضیحات:</b> <i class="fa fa-check-circle"></i> {{ invoice.get_state_display }}</p>
                        {% else %}
                        <p class="text-danger"><b>توضیحات:</b> <i class="fa fa-minus-circle"></i> {{ invoice.get_state_display }}</p>
                        <a class="btn btn-sm btn-danger text-right">پرداخت</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <p class="h5">هیچ فاکتوری برای شما ثبت نشده است!</p>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}