{% extends "base-c.html" %}
{% load jalali_tags %}
{% load static %}

{% block title %}

{% endblock title %}

{% block content %}
<section id="page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h2>لیست درخواست‌ها</h2>
                        <p>لطفا درخواست خود را برای نمایشگاه مورد نظر با متراژ مورد نیاز ارسال کنید.</p>
                        <p class="text-danger">توجه داشته باشید که متراژ ارسالی شما بصورت قطعی نمی‌باشد و در صورت قبول درخواست شما، متراژ با توجه به غرفه بندی سالن‌ها ممکن است تغییر کند!</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                <table id="datatable" class="table table-bordered table-hover" style="width:100%">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>نام تجاری</th>
                                            <th>نمایشگاه</th>
                                            <th>متراژ</th>
                                            <th>تاریخ</th>
                                            <th>قبول قوانین</th>
                                            <th>وضعیت</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for req in req %}
                                        <tr>
                                            <td>{{ req.customer.company }}</td>
                                            <td>{{ req.exhibition.title }}</td>
                                            <td>{{ req.area }}</td>
                                            <td>{{ req.created_date|to_jalali:'%Y/%m/%d' }}</td>
                                            <td>{% if req.rules %} <i class="fa fa-check-square"></i>{% else %} {% endif %}</td>
                                            <td>
                                                {% if req.state == "wait" %}
                                                <span class="badge badge-pill badge-warning">در انتظار بررسی</span>
                                                {% elif req.sate == "accept" %}
                                                <span class="badge badge-pill badge-success">قبول</span>
                                                {% else %}
                                                <span class="badge badge-pill badge-danger">رد شده</span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block script %}

{% endblock script %}