{% extends "base.html" %}
{% load jalali_tags %}
{% load static %}

{% block title %}
لیست مدارک مشارکت کنندگان
{% endblock title %}

{% block content %}
<section id="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h2>لیست مدارک</h2>
                        <p>لطفا اطلاعات خواسته شده در فرم زیر را با دقت وارد کنید، درصورت عدم درج اطلاعات صحیح با ثبت نام شما موافقت نخواهد شد!</p>
                        <p class="text-danger">برای مشارکت کنندگان حقوقی شناسه ملی شرکت/سازمان و نام مدیرعامل الزامی است!</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-lg-2">
                                <input class="form-control" id="myInput" type="text" placeholder="جستجو...">
                            </div>
                            <div class="col-lg-12">
                                <table id="datatable" class="table table-bordered table-hover" style="width:100%">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>کد</th>
                                            <th>وضعیت</th>
                                            <th>کاربر</th>
                                            <th>نام تجاری</th>
                                            <th>مدارک</th>
                                            <th>تاریخ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for doc in doc %}
                                        <tr>
                                            <td>{{ doc.pk }}</td>
                                            <td>
                                                {% if doc.state == "wait" %}
                                                <span class="badge badge-pill badge-warning">در انتظار بررسی</span>
                                                {% elif doc.state == "accept"  %}
                                                <span class="badge badge-pill badge-success">قبول</span>
                                                {% else %}
                                                <span class="badge badge-pill badge-danger">رد شده</span>
                                                {% endif %}
                                            </td>
                                            <td>{{ doc.user.username }}</td>
                                            <td><a href="{{ doc.file.url }}" target="_blank">{{ doc.file.name }}</a></td>
                                            <td>{{ doc.customer.company }}</td>
                                            <td>{{ doc.created_date|to_jalali:'%Y/%m/%d' }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block script %}

<script src={% static 'plugins/datatables/datatables.min.js' %}></script>
<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#datatable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>
{% endblock script %}